polkit.addRule(function(action, subject) {
    if (action.id == "org.gnome.gparted" &&
        subject.user == "haxor") {
        return polkit.Result.YES;
    }
});
